@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(240, 253, 244)
}

.swiper-button-next:after,
.swiper-button-prev:after{
  color: #c04cfe;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  background: #c04cfe !important
}

html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}
